name: Build
on:
  schedule:
    - cron: "21 21 * * *"
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  SERVER_IMAGE_NAME: "supermicro-x10drh"
  SERVER_IMAGE_DIR: "supermicro-x10drh"
  LAPTOP_IMAGE_NAME: "lenovo-16arh7h"
  LAPTOP_IMAGE_DIR: "lenovo-16arh7h"
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}


jobs:
  supermicro-x10drh:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build container image
        uses: redhat-actions/buildah-build@v2.12
        with:
          context: ${{ env.SERVER_IMAGE_DIR }}
          containerfiles: ${{ env.SERVER_IMAGE_DIR }}/Containerfile
          image: ${{ env.SERVER_IMAGE_NAME }}
          layers: false
          oci: true

      - name: Push to ghcr.io
        uses: redhat-actions/push-to-registry@v2.7
        with:
          image: ${{ env.SERVER_IMAGE_NAME }}
          tags: "latest"
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust
  lenovo-16arh7h:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build container image
        uses: redhat-actions/buildah-build@v2.12
        with:
          context: ${{ env.LAPTOP_IMAGE_DIR }}
          containerfiles: ${{ env.LAPTOP_IMAGE_DIR }}/Containerfile
          image: ${{ env.LAPTOP_IMAGE_NAME }}
          layers: false
          oci: true

      - name: Push to ghcr.io
        uses: redhat-actions/push-to-registry@v2.7
        with:
          image: ${{ env.LAPTOP_IMAGE_NAME }}
          tags: "latest"
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust
            
            
